<%= link_to "View activities", activities_path %> || 
<%= link_to "Campers Page", campers_path %>

<h1>Signup Page</h1>

<%= form_for @signup do |f| %>
    <%= f.label :activity %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name %>
    <br />
    <%= f.label :camper %>
    <%= f.collection_select :camper_id, Camper.all, :id, :name %>
    <br />
    <br />
    <%= f.submit "Sign up" %>
<%end%>

