<h1>Signup Board</h1>

<%= form_for @signup do |f| %>

<%= f.label 'Time' %><br>
<%= f.number_field :time %><br><br>

<%= collection_select(:signup, :camper_id, Camper.all, :id, :name, prompt: true) %><br><br>

<%= collection_select(:signup, :activity_id, Activity.all, :id, :name, prompt: true) %><br><br>

<%= f.submit "Sign me up!" %>

<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<br>
<%= button_to "Back to All Campers", campers_path, method: :get %><br>

<%= button_to "Back to All Activities", activities_path, method: :get %>