<h1>Sign up as camper</h1>

<%= form_for @camper do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
        <%= f.label :age %>
        <%= f.number_field :age %>
    <br />
    <br />
    <%= f.submit "Sign up" %>
<%end%>
